body {
    background-image: url('https://wallpaperaccess.com/full/676037.jpg');
    background-size: cover;
}

ul {
    list-style: none;
}

ul a {
    text-decoration: none;
}

.general {
    display: flex;
    justify-content: space-evenly;
    max-width: 33.3%;
    margin-left: 33.3%;
    margin-right: 33.3%;
}

.credentials {
    display: flex;
    justify-content: space-evenly;
    margin-left: 82.5%;
}

#home,
#discover,
#product,
#contact,
#signin,
#signup,
#switch {
    border: 2px solid #0abdc6;
    box-shadow: 0 0 3px #9ecaed;
    border-radius: 0.5em;
    padding: 0.4em;
    transition: 0.25s;
}

#home:hover,
#discover:hover,
#product:hover,
#contact:hover,
#signin:hover,
#signup:hover,
#switch:hover {
    box-shadow: 0 0 7px #9ecaed, 0.2em 0.8em 1em -0.5em #ea00d9;
    border: 2px solid #0abdc6;
}


#home a,
#discover a,
#product a,
#contact a,
#signin a,
#signup a,
#switch a {
    color: #ea00d9;
    font-family: 'Oxanium', sans-serif;
    font-weight: 400
}

.others {
    display: flex;
    max-width: fit-content;
}